@media (max-width: 768px) {
    .animesSection {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
      }

      .anime-item {
        height: 55vh;
        padding: 1vh;
        margin: 2vh 0;
        overflow:visible;
      }

      .img-anime-container:hover {
        transform: scale(1.01);
        box-shadow: #ffffff 4px 4px, #000000 8px 8px, #eeeeee 12px 12px;
        transition: 0.3s ease-in;
        filter: brightness(0.8);
      }

      .trending {
        display: flex;
        flex-direction: row;
      }
}